---
layout: default
---
<div id="page-header">
	<h2>
		{{ site.title }}
	</h2>
	<p class="m-4">
		This site hosts some web toys worth showing to the public. Click <a href="https://github.com/Tastyfish">here</a> or "View on Github" above to view my projects.
	</p>
</div>

<h3 id="#latest">Latest Posts</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
	{% for post in site.posts %}
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ post.title }}</h5>
				<h6 class="card-subtitle mb-2 text-muted">Posted on {{ post.date | date_to_long_string }}</h6>
				<p class="card-text">{{ post.excerpt | strip_html }}</p>
				<a href="{{ post.url }}" class="card-link">View Post</a>
				{% if post.hoturl %}
					<a href="{{ post.hoturl }}" class="card-link btn btn-outline-primary">View Content</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<center class="my-4"><small>Copyright &copy; {{ site.time | date: "%Y" }} Tastyfish</small></center>
