---
layout: default
---
<div id="page-header">
	<h1>
		{{ page.title }}&nbsp;<small>&mdash; Posted {{ page.date | date_to_long_string }}</small>
	</h1>
</div>

{{ content }}

{% if page.hoturl %}
<div class="d-grid d-md-block col-8 mx-auto">
	<a class="btn btn-primary btn-lg" href="{{ page.hoturl }}" role="button">View</a>
</div>
{% endif %}

<nav aria-label="Page navigation">
	<ul class="pagination">
		{% if page.previous %}
		<li class="page-item"><a class="page-link" href="{{ site.basepath }}{{ page.previous.url }}"><span aria-hidden="true">&laquo;</span> Previous</a></li>
		{% endif %}
		{% if page.next %}
		<li class="page-item"><a class="page-link" href="{{ site.basepath }}{{ page.next.url }}">Next <span aria-hidden="true">&raquo;</span></a></li>
		{% endif %}
	</ul>
</nav>
